<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steven Schmatz</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<div class='top-nav-bar'>

    <div class='hexagon-container'>
        <video src='/static/img/HexagonAnimation.mov' autoplay></video>
        <a href="#">
            <img class='hexagon fill' src="/static/img/HexagonFilled.png">
            <img class='hexagon line' src="/static/img/Hexagon.png">
        </a>
    </div>

    <div class='the-bar'>
        <ul>
            <li class='active'><a href="#">About</a></li>
            <li><a href="https://soundcloud.com/stevenschmatz">Music</a></li>
            <li><a href="https://vsco.co/schmatz">Photography</a></li>
        </ul>
    </div>
</div>

<div class='header-image-container'>
    <div class='header-image'></div>
    <div class='overlay'>
        <h1>'Sup.</h1>
    </div>
</div>

<div class='body-container'>
        <p>I'm Steven Schmatz, a software engineer and designer based in <a href="https://www.umich.edu/">Ann Arbor</a>.</p>
        <p>I'm currently working on <a href="https://mistshopping.com">Mist</a>, a shopping app for sustainable products, as well as <a href="http://bounceho.me">Bounce</a>, a safety app for college students.</p>
        <p>I'm part of a team of awesome hackers and hustlers looking to take on <a href="mailto:stevenschmatz@gmail.com">freelance work.</a></p>
        <p>In my spare time, I produce <a href="https://soundcloud.com/stevenschmatz">electronic music</a>. I like {future, deep, tropical} house. Let's collab.</p>
</div>

</body>
</html>
